<nav class="u-align-right u-menu u-menu-dropdown u-offcanvas u-menu-1">
  <div class="menu-collapse">
    <a class="u-button-style u-nav-link" href="#">
      <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d530"></use></svg>
      <svg class="u-svg-content" version="1.1" id="svg-d530" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
    </a>
  </div>
  <div class="u-custom-menu u-nav-container">
    <ul class="u-nav u-unstyled"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#"></a>
</li></ul>
  </div>
  <div class="u-custom-menu u-nav-container-collapse">
    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
      <div class="u-inner-container-layout u-sidenav-overflow">
        <div class="u-menu-close"></div>
        <!--<ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Configuration.html">/</a>-->
</li></ul>
      </div>
    </div>
    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
  </div>
</nav>