{% load static %}
<style>
  
.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.carousseldiv{
  display: flex;
  justify-content: center;
}

.divtypevariable{
  display: flex;
}

.carousselbouton{
  transition: transform .2s;
  height: 100%;
  display: block;
  margin: auto;
  background-color: #EAFDFC;
  border: black 1px solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
}

.carousselbouton:hover{
  transform: scale(1.02);
  background-color: #d3edec;
  
}

.resume-texte{
  margin-left: 5%;
  margin-left: 5%;
  font-size: 150%; 
}

.row_resume_tableau_discret{
  padding-bottom: 5%;
  padding-top: 5%;

}

.text_resume_tableau_discret{
  margin-left: 50%;
  margin-left: 50%;
  font-size: 150%; 
  color: whitesmoke;
  padding: 20px;
  text-align: center;
}

.table_resume_tableau_discret{
  margin-right: auto;
  margin-left: auto;
  transition: transform .2s;
  margin-bottom : 3%; 
}

.table_resume_tableau_discret:hover{
  transform: scale(1.02);
}

.resume-titre{
  margin-right : auto; margin-left: auto; margin-top: 3%; margin-bottom: -5px;
}

.head_tableau_global{
  background-color: #EAFDFC;
  
  padding: 20px;
}

.table_resume_global{
  text-align: center;
  border-spacing: 0;
  
}

.td_tableau_global{
  padding: 20px;
}

.table_resume_global, td{
  border: black 1px solid;
  
}

.table_resume_global, th{
  border: black 1px solid;
  
}


</style>
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Chaîne de Markov générée, Détails des variables">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Résultat</title>
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/resultat.css' %}" media="screen">

    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">



    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "{% static 'images/logoLTI.png' %}"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Configuration">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode"><header class="u-border-1 u-border-no-left u-border-no-right u-border-no-top u-border-palette-4-light-2 u-clearfix u-header u-palette-4-light-3 u-header" id="sec-8608"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="393" data-image-height="157">
          <img src="{% static 'images/logoLTI.png' %}" class="u-logo-image u-logo-image-1">
        </a>
      {% include 'base/navbar.html' %}
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-e296">
      <div class="u-clearfix u-sheet u-sheet-1">
        {% if markov %}
        <h1 class="u-align-center u-custom-font u-font-raleway u-text u-text-default u-text-1">Chaîne de Markov générée</h1>
        <div class="u-border-2 u-border-grey-75 u-border-no-bottom u-border-no-left u-border-no-right u-container-style u-expanded-width u-group u-white u-group-1">
          <div class="u-container-layout u-container-layout-1"></div>
        </div>
        <br><br><img class= "zoom" style="display: block;margin-left: auto; margin-right: auto;" src="{% static 'images/graphe.png' %}"><br><br>
        <table class="table_resume_tableau_discret table_resume_global">
          <thead>
            <th> </th>
            {% for colonne in noms_continus %}
              <th class="head_tableau_global">{{ colonne }}</th>
            {% endfor %}

            {% for colonne in noms_circulaires %}
              <th id="colonne_circulaire_{{ forloop.counter0 }}" class="head_tableau_global">{{ colonne }}</th>
            {% endfor %}

            {% for colonne in noms_discrets %}
              {% with i=forloop.counter0 %}
                {% for valeur in noms_discrets_valeurs %}
                  {% if forloop.counter0 == i %}
                    <th  class="head_tableau_global" colspan="{{valeur|length}}">{{ colonne }}</th>
                  {%endif%}
                {%endfor%}
              {%endwith%}
            {%endfor%}

          </thead>
          <tbody>
            {% if noms_discrets > 0 %}
            <tr>
              <td></td>
              {% for colonne in noms_continus %}
                <td style="background-color: rgb(189, 189, 189);" class="continu"> / </td>
              {% endfor %}
              {% for colonne in noms_circulaires %}
                <td style="background-color: rgb(189, 189, 189);;"> / </td>
              {% endfor %}
              {% for colonne in noms_discrets_valeurs %}
                {% for valeur in colonne %}
                  <td style="background-color: rgb(189, 189, 189);;">{{ valeur }}</td>
                {%endfor%}
              {% endfor %}
            </tr>
            {% endif %}
          
            {% for row in resume_global %}
              {% with i=forloop.counter0 %}
                {% for couleur in couleurs %}
                  {% if forloop.counter0 == i %}
                    <tr style="background-color: {{couleur}}; color: white; ">
                      <th> état {{ forloop.counter }} </th>
                      {% for element in row %}
                        {% if forloop.counter0 < indice_fin_circulaire %}
                          {% if forloop.counter0 > indice_debut_circulaire %}
                              <td id="cellule_circulaire_{{i}}_{{forloop.counter0}}" class="td_tableau_global">{{ element }}</td>
                          {% else %}
                          <td class="td_tableau_global">{{ element }}</td>
                          {%endif%}
                        {% else %}
                        <td class="td_tableau_global">{{ element }}</td>
                        {%endif%}

                      {%endfor%}
                    </tr>
                  {%endif%}
                {%endfor%}
              {%endwith%}
            {%endfor%}
          </tbody>
        </table>
        {% endif %}
        <h1 class="u-align-center u-custom-font u-font-raleway u-text u-text-default u-text-2">Détails des variables</h1>
        <div class="u-border-2 u-border-grey-75 u-border-no-bottom u-border-no-left u-border-no-right u-container-style u-expanded-width u-group u-white u-group-2">
          <div class="u-container-layout u-container-layout-2"></div>
        </div>
      </div>
      <!--<br><br><img class="plot" src="{% static 'images/plot.png' %}" style="display: block;margin-left: auto; margin-right: auto;max-width: 100%;
  height: auto;
  width: auto\9;"><br><br>-->
      {% if plots_continues|length > 0 %}
        <div style="display: flex; justify-content: center; margin-bottom: 30px">
          <h2>Variables continues</h2>
        </div>
        <div id="div_circulaire" class="divtypevariable">
          <button id="continue_previous" class="carousselbouton"><</button>
        {% for plot in plots_continues %}
          <div id="div_continue_{{forloop.counter0}}" class="zoom" style="display: flex; justify-content: center; margin-bottom: 50px; width:60%; margin-left: auto; margin-right: auto; border: 1px solid black; flex-direction: column;">
            <div style="flex-grow:6 ; display: flex; justify-content: center;  background-color: #EAFDFC; flex-direction : column;">
              {% with i=forloop.counter0 %}
                {% for nom in noms_continus %}
                  {% if forloop.counter0 == i %}
                    <h2 class="resume-titre">{{ nom }}</h2>
                  {% endif %}
                {% endfor %}
              {% endwith %}
            </div>
            <div style="flex-grow: 1; display: flex; justify-content: center;">
              <img src="{% static plot %}" style="max-width: 50%; height: auto; width: auto\9; margin-left: auto; margin-right: auto;">
            </div>
            <div style="flex-grow: 6; display: flex; justify-content: center; background-color: #EAFDFC; flex-direction: column;">
              {% with i=forloop.counter0 %}
              {% for resume in resumes_continus %}
                {% if forloop.counter0 == i %}
                  {% with y=forloop.counter0 %}
                    {% for nom in noms_continus %}
                      {% if forloop.counter0 == y %}
                        <h2 class="resume-titre">Résumé {{ nom }}</h2>
                      {% endif %}
                    {% endfor %}
                  {% endwith %}
                  <table class="table_resume_tableau_discret">
                    <tr class="row_resume_tableau_discret">
                  {% for row in resume %}
                    {% with y=forloop.counter0 %}
                      {% for couleur in couleurs %}
                        {% if forloop.counter0 == y %}
                          <td class="text_resume_tableau_discret" style="background-color: {{ couleur }} ;">{{ row }}</td>
                        {% endif %}
                      {%endfor%}
                    {% endwith %}
                  {% endfor %}
                    </tr>
                  </table>
                {% endif %}
              {% endfor %}
            {% endwith %}
            </div>
          </div>
        {% endfor %}
          <button id="continue_next" class="carousselbouton">></button>
        </div>
      {% endif %}
      {% if plots_circulaires|length > 0 %}
      <div style="display: flex; justify-content: center; margin-bottom: 30px">
        <h2>Variables circulaires</h2>
      </div>
              
      <div id="div_circulaire" class="divtypevariable">
        <button id="circular_previous" class="carousselbouton"><</button>
      {% for plot in plots_circulaires %}

        <div id="div_circulaire_{forloop.counter0}" class="zoom" style="display: flex; justify-content: center; border: 1px solid black; margin-bottom: 50px; width:60%; margin-left: auto; margin-right: auto; flex-direction: column;">
          <div style="flex-grow:6 ; display: flex; justify-content: center;  background-color: #EAFDFC; flex-direction : column;">
            {% with i=forloop.counter0 %}
              {% for nom in noms_circulaires %}
                {% if forloop.counter0 == i %}
                  <h2 class="resume-titre">{{ nom }}</h2>
                {% endif %}
              {% endfor %}
            {% endwith %}
          </div>
          <div style="flex-grow:6 ; display: flex; justify-content: center;  background-color: #EAFDFC; flex-direction: row; padding-bottom: 20px;">
            <div style="display: flex; flex-direction: column; width: 25%; justify-content: center;">
              <p style="margin: auto;">Loi : </p>
              <select name="select_loi_{{forloop.counter0}}" id="select_loi_{{forloop.counter0}}" class="selecteur_loi" style="width:60%; margin-left: auto; margin-right: auto; height: 45%;">
                <option value="vonmises">Von Mises</option>
                <option value="cauchy">Cauchy</option>
              </select>
            </div>

            <div style="display: flex; flex-direction: column; width: 25%;">
              <p style="margin: auto;">Unité : </p>
              <select name="select_unit_{{forloop.counter0}}" class="selecteur_unite" id="select_unit_{{forloop.counter0}}" style="width:60%; margin-left: auto; margin-right: auto; height: 45%; ">
                <option value="angle">Angle</option>
                <option value="heure">Heure</option>
                <option value="jour">Jour</option>
                <option value="semaine">Semaine</option>
              </select>
            </div>

          </div>

          <div style="flex-grow: 1; display: flex; justify-content: center; flex-direction: column;">
            <img id="image_circulaire_{{forloop.counter0}}" src="{% static plot %}" style="max-width: 50%; height: auto; width: auto\9; margin-left: auto; margin-right: auto;">

              <div style="display: flex; flex-direction: column;">
              
              </div>
          </div>
          <div style="flex-grow:6 ; display: flex; justify-content: center; background-color: #EAFDFC; flex-direction: column;">
            {% with i=forloop.counter0 %}
            {% for resume in resumes_circulaires %}
            {% if forloop.counter0 == i %}
              {% with y=forloop.counter0 %}
              {% for nom in noms_circulaires %}
              {% if forloop.counter0 == y %}
                <h2 class="resume-titre">Résumé {{ nom }}</h2>
              {% endif %}
              {% endfor %}
              {% endwith %}
            <p id="resume_circulaire_{{forloop.counter0}}" class="resume-texte">{{ resume }}</p>
            {% endif %}
            {% endfor %}
            {% endwith %}
            
          </div>
        </div>
      {% endfor %}
        <button id="circular_next" class="carousselbouton">></button>
      </div>
      {% endif %}
      
      {% if plots_discrets|length > 0 %}
      <div style="display: flex; justify-content: center; margin-bottom: 30px">
        <h2>Variables discrètes</h2>
      </div>
      <div id="div_discrete" class="divtypevariable">
        <button id="discrete_previous" class="carousselbouton"><</button>
      {% for plot in plots_discrets %}
        <div id="div_discrete_{forloop.counter0}" class="zoom" style="display: flex; justify-content: center; border: 1px solid black; margin-bottom: 50px; width:60%; margin-left: auto; margin-right: auto; flex-direction: column;">
          <div style="flex-grow:6 ; display: flex; justify-content: center;  background-color: #EAFDFC; flex-direction : column;">
            {% with i=forloop.counter0 %}
              {% for nom in noms_discrets %}
                {% if forloop.counter0 == i %}
                  <h2 class="resume-titre">{{ nom }}</h2>
                {% endif %}
              {% endfor %}
            {% endwith %}
          </div>
          <div style="flex-grow: 1; display: flex; justify-content: center">
            <img src="{% static plot %}" style="max-width: 100%; height: auto; width: auto\9;">
          </div>
          <div style="flex-grow:6 ; display: flex; justify-content: center;  background-color: #EAFDFC; flex-direction : column;">
            {% with i=forloop.counter0 %}
              {% for resume in resumes_discrets %}
                {% if forloop.counter0 == i %}
                  {% with y=forloop.counter0 %}
                    {% for nom in noms_discrets %}
                      {% if forloop.counter0 == y %}
                        <h2 class="resume-titre">Résumé {{ nom }}</h2>
                      {% endif %}
                    {% endfor %}
                  {% endwith %}
                  <table class="table_resume_tableau_discret">
                  {% for row in resume %}
                    {% with y=forloop.counter0 %}
                      {% for couleur in couleurs %}
                        {% if forloop.counter0 == y %}
                          <tr class="row_resume_tableau_discret" style="background-color: {{ couleur }} ;">
                            {% for element in row %}
                              <td class="text_resume_tableau_discret">{{ element }}</td>
                            {% endfor %}
                          </tr>
                        {% endif %}
                      {%endfor%}
                    {% endwith %}
                  {% endfor %}
                  </table>
                {% endif %}
              {% endfor %}
            {% endwith %}
          </div>
        </div>
      {% endfor %}
        <button id="discrete_next" class="carousselbouton">></button>
      </div>
      {% endif %}
    </section>
    
    {% include 'base/footer.html' %}

  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{% static 'js/resultat.js' %}"></script>
</html>